@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

html,
body {
  line-height: 1;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

label {
  display: block;
}

/*---------title-------------*/
.title {
  font-size: 1.875rem;
  font-weight: 400;
  font-family: "Jost", sans-serif;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.1125rem;
  color: #272727;
}
@media (max-width: 37.5em) {
  .title {
    font-size: 1.625rem;
  }
}
@media (max-width: 29.6875em) {
  .title {
    font-size: 1.5rem;
  }
}
.title--light {
  color: #fff;
}
.title--small-margin {
  margin-bottom: 0.625rem;
}

/*---------subtitle-------------*/
.subtitle {
  line-height: 1.38;
  letter-spacing: 0.03rem;
}
.subtitle--light {
  color: #fff;
}

/*---------related link-------------*/
.related-link {
  font-family: "Lato", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.48;
  letter-spacing: 0.0875rem;
  text-transform: uppercase;
  color: #272727;
  -webkit-text-decoration: underline solid #e1e1e1 0.1875rem;
          text-decoration: underline solid #e1e1e1 0.1875rem;
  text-underline-offset: 0.4375rem;
  -webkit-transition: color 0.3s, text-decoration-color 0.2s;
  transition: color 0.3s, text-decoration-color 0.2s;
  white-space: nowrap;
}
.related-link:active {
  color: #72aec8;
  text-decoration-color: #72aec8;
}
@media (any-hover: hover) and (any-pointer: fine) {
  .related-link:hover {
    color: #72aec8;
    text-decoration-color: #72aec8;
  }
}

.section-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0.625rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*---------section subscribe-------------*/
.subscribe__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem 0.625rem;
  background-color: #272727;
  padding: 5rem 6.875rem;
}
@media (max-width: 68.75em) {
  .subscribe__content {
    padding: 3.75rem 5.625rem;
  }
}
@media (max-width: 64.0625em) {
  .subscribe__content {
    padding: 2.5rem 4.375rem;
  }
}
@media (max-width: 62.3125em) {
  .subscribe__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 37.5em) {
  .subscribe__content {
    padding: 1.875rem 3.125rem;
  }
}
@media (max-width: 32.5em) {
  .subscribe__content {
    padding: 1.875rem 1.25rem;
  }
}
.subscribe__text {
  max-width: 28.875rem;
}
@media (max-width: 62.3125em) {
  .subscribe__text {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}
@media (max-width: 41.4375em) {
  .subscribe__text {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30.875rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media (max-width: 62.3125em) {
  .subscribe__form {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}
@media (max-width: 41.625em) {
  .subscribe__form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
.subscribe__input {
  height: 3.3125rem;
  padding: 0.625rem 0 0.625rem 1.875rem;
  min-width: 25ch;
  border: 1px solid #eee;
  -webkit-box-shadow: 0px 0px 44px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 0px 44px 0px rgba(0, 0, 0, 0.08);
}
@media (max-width: 29.375em) {
  .subscribe__input {
    padding: 0.625rem 0 0.625rem 0.625rem;
  }
}
@media (max-width: 41.625em) {
  .subscribe__button {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
@media (max-width: 29.375em) {
  .subscribe__button {
    padding: 1rem 1rem;
  }
}

/*---------button-text -------------*/
.button-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.48;
  letter-spacing: 0.0875rem;
  text-transform: uppercase;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3.3125rem;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
.button-text--sizesmall {
  padding: 1rem 1rem;
}
.button-text--sizemedium {
  padding: 1rem 2.5rem;
}
.button-text--sizebig {
  padding: 1rem 3.125rem;
}
.button-text--light {
  background-color: #72aec8;
}
.button-text--light:active {
  background-color: #53a4c7;
}
@media (any-hover: hover) and (any-pointer: fine) {
  .button-text--light:hover {
    background-color: #53a4c7;
  }
}
.button-text--dark {
  background-color: #272727;
}
.button-text--dark:active {
  background-color: #3a3a3a;
}
@media (any-hover: hover) and (any-pointer: fine) {
  .button-text--dark:hover {
    background-color: #3a3a3a;
  }
}

/*---------input -------------*/
input {
  background-color: #fff;
}
input::-webkit-input-placeholder {
  color: #3a3a3a;
  font-family: "Lato", sans-serif;
  line-height: 1.38;
  letter-spacing: 0.03rem;
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
}
input::-moz-placeholder {
  color: #3a3a3a;
  font-family: "Lato", sans-serif;
  line-height: 1.38;
  letter-spacing: 0.03rem;
  -moz-transition: opacity 0.1s;
  transition: opacity 0.1s;
}
input:-ms-input-placeholder {
  color: #3a3a3a;
  font-family: "Lato", sans-serif;
  line-height: 1.38;
  letter-spacing: 0.03rem;
  -ms-transition: opacity 0.1s;
  transition: opacity 0.1s;
}
input::-ms-input-placeholder {
  color: #3a3a3a;
  font-family: "Lato", sans-serif;
  line-height: 1.38;
  letter-spacing: 0.03rem;
  -ms-transition: opacity 0.1s;
  transition: opacity 0.1s;
}
input::placeholder {
  color: #3a3a3a;
  font-family: "Lato", sans-serif;
  line-height: 1.38;
  letter-spacing: 0.03rem;
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
}
input:focus::-webkit-input-placeholder {
  opacity: 0;
}
input:focus::-moz-placeholder {
  opacity: 0;
}
input:focus:-ms-input-placeholder {
  opacity: 0;
}
input:focus::-ms-input-placeholder {
  opacity: 0;
}
input:focus::placeholder {
  opacity: 0;
}

/*---------icon -------------*/
.icon {
  width: 14px;
  height: 14px;
}

.icon--caret-down {
  width: 0.875rem;
  height: 0.875rem;
}

/*---------burger-menu-------------*/
@media (min-width: 55.8125em) {
  .burger-menu {
    display: none;
  }
}
@media (max-width: 55.8125em) {
  .burger-menu {
    display: block;
    width: 2.1875rem;
    height: 1.625rem;
    position: relative;
  }
  .burger-menu span, .burger-menu::before, .burger-menu::after {
    content: "";
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #272727;
    left: 0;
  }
  .burger-menu span {
    top: 50%;
    translate: 0 -50%;
  }
  .burger-menu::before {
    top: 0;
  }
  .burger-menu::after {
    bottom: 0;
  }
  .open-menu .burger-menu span {
    width: 0;
  }
  .open-menu .burger-menu::before {
    top: 50%;
    translate: 0 -50%;
    rotate: 45deg;
  }
  .open-menu .burger-menu::after {
    bottom: 50%;
    translate: 0 50%;
    rotate: -45deg;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
@media (max-width: 68.75em) {
  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.header__logo {
  margin-right: auto;
  color: #272727;
  font-family: "Jost", sans-serif;
  font-size: 2.0625rem;
  font-weight: 400;
  line-height: 1.45;
  padding: 0.75rem 0;
}
.header__logo > span {
  color: #72aec8;
}
@media (max-width: 68.75em) {
  .header__logo {
    margin-right: 0;
  }
}
@media (max-width: 58.9375em) {
  .header__logo {
    font-size: 1.75rem;
  }
}
@media (max-width: 55.8125em) {
  .header__menu {
    display: block;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #edf1f3;
    top: 0;
    right: -100%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin-top: 4.5rem;
    overflow: auto;
  }
}
html.open-menu .header__menu {
  right: 0;
}
html.open-menu .header__menu .submenu {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  position: relative;
  width: auto;
  padding: 0;
}
.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-left: 7.5rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media (max-width: 68.75em) {
  .header__actions {
    margin-left: 0;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 55.8125em) {
  .header__menu .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
.menu__item {
  font-family: "Lato", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.48;
  letter-spacing: 0.0875rem;
  text-transform: uppercase;
  margin: 0 1.125rem;
  position: relative;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.menu__item:last-child {
  margin-right: 0;
}
@media (max-width: 58.9375em) {
  .menu__item {
    margin: 0 0.625rem;
  }
}
@media (max-width: 55.8125em) {
  .menu__item {
    margin: 0.625rem;
    font-size: 1.25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .menu__item:last-child {
    margin-right: 0.625rem;
  }
  .menu__item:has(> .submenu) {
    margin-bottom: 0;
  }
}
.menu__link {
  padding: 0.8125rem;
}
.menu__link--active {
  color: #72aec8;
}
.menu__link > .icon {
  vertical-align: middle;
}
@media (any-hover: hover) and (any-pointer: fine) {
  .menu__link:hover {
    cursor: pointer;
    color: #72aec8;
  }
  .menu__link:hover + .submenu {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .menu__link:hover > .icon {
    color: #72aec8;
  }
}
@media (any-hover: none) and (any-pointer: coarse) {
  .menu__link.open-submenu + .submenu {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}
@media (max-width: 55.8125em) {
  .menu__link {
    background-color: #72aec8;
    border-radius: 0.5rem;
  }
  .header__menu .menu__link--active {
    color: #272727;
  }
  .header__menu .menu__link > .icon--caret-down {
    display: none;
  }
}

.submenu {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  width: 12.5rem;
  padding: 0 0.8125rem 0.8125rem;
  pointer-events: none;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.submenu__link {
  padding: 0.25rem 0;
  color: #272727;
}
@media (any-hover: hover) and (any-pointer: fine) {
  .submenu__link:hover {
    text-decoration: underline;
  }
}

.actions-header__link:not(:last-child) {
  margin-right: 1.1875rem;
}
.actions-header__link > .icon {
  width: 1.125rem;
  height: 1.125rem;
}
.actions-header__link--cart {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.actions-header__link--cart + span {
  display: inline-block;
  padding-left: 0.125rem;
  color: #272727;
  font-family: "Lato", sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.48;
  letter-spacing: 0.075rem;
}

.footer-bottom {
  padding: 1.25rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}
@media (max-width: 64em) {
  .footer-bottom {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 0.625rem;
  }
}
.footer-bottom__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.footer-bottom__block > :not(:last-child) {
  margin-right: 2.875rem;
}
.footer-bottom__block > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media (max-width: 64em) {
  .footer-bottom__block {
    -ms-flex-negative: 1;
        flex-shrink: 1;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 0.625rem;
  }
  .footer-bottom__block > :not(:last-child) {
    margin-right: 0;
  }
}
.footer-bottom p {
  line-height: 1.38;
  letter-spacing: 0.03rem;
}
.footer-bottom__copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  gap: 0.25rem;
}
.footer-bottom__copy > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.footer-bottom__copy a {
  font-weight: 400;
  text-decoration: underline;
}
@media (max-width: 64em) {
  .footer-bottom__copy {
    -ms-flex-negative: 1;
        flex-shrink: 1;
    gap: 0.625rem;
  }
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #3a3a3a;
  font-size: 1rem;
}

[class*=_container] {
  max-width: 83.125rem;
  padding: 0 0.9375rem;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}