@use "_fonts.scss" as *;
@use "_vars.scss" as *;
@use "_reset.scss";
@use "_mixins.scss" as *;

.title {
  font-size: toRem(30);
  font-weight: 400;
  font-family: $secondaryFont;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: toRem(1.8);
  color: $darkColor;
}

.related-link {
  font-family: $mainFont;
  font-size: toRem(14);
  font-weight: 700;
  line-height: 1.48;
  letter-spacing: toRem(1.4);
  text-transform: uppercase;
  color: $darkColor;
  text-decoration: underline solid #e1e1e1 toRem(3);
  text-underline-offset: toRem(7);
  transition: color 0.3s, text-decoration-color 0.4s;

  @media (any-hover: hover) and (any-pointer: fine) {
    &:hover {
      color: #72aec8;
      text-decoration-color: #72aec8;
    }
  }
}
