@use "_fonts.scss" as *;
@use "_vars.scss" as *;
@use "_reset.scss";
@use "_mixins.scss" as *;

.title {
  font-size: toRem(30);
  font-weight: 400;
  font-family: $secondaryFont;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: toRem(1.8);
  color: $darkColor;

  &--light {
    color: #fff;
  }
  &--small-margin {
    margin-bottom: toRem(10);
  }
}

.subtitle {
  line-height: 1.38;
  letter-spacing: toRem(0.48);
  &--light {
    color: $white;
  }
}

.related-link {
  font-family: $mainFont;
  font-size: toRem(14);
  font-weight: 700;
  line-height: 1.48;
  letter-spacing: toRem(1.4);
  text-transform: uppercase;
  color: $darkColor;
  text-decoration: underline solid #e1e1e1 toRem(3);
  text-underline-offset: toRem(7);
  transition: color 0.3s, text-decoration-color 0.2s;
  white-space: nowrap;

  &:active {
    color: $hoverColor;
    text-decoration-color: $hoverColor;
  }
  @media (any-hover: hover) and (any-pointer: fine) {
    &:hover {
      color: $hoverColor;
      text-decoration-color: $hoverColor;
    }
  }
}
.section-top {
  display: flex;
  flex-wrap: nowrap;
  gap: toRem(10);
  justify-content: space-between;
  align-items: center;
}

/*---------section subscribe-------------*/
.subscribe {
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: toRem(10);
    background-color: $darkColor;
    padding: toRem(80) toRem(110);
  }
  &__text {
    max-width: toRem(462);
  }
  &__form {
    display: flex;
    width: toRem(494);
    height: toRem(53);
  }
  &__input {
    padding: toRem(10) 0 toRem(10) toRem(30);
    flex-grow: 1;
    border: 1px solid #eee;
    box-shadow: 0px 0px 44px 0px rgba(0, 0, 0, 0.08);

    &::placeholder {
      color: $lightColor;
      font-family: $mainFont;
      line-height: 1.38;
      letter-spacing: toRem(0.48);
    }
  }
  &__button {
    padding: toRem(16) toRem(40);
  }
}

.button-text {
  color: $white;
  font-size: toRem(14);
  font-weight: 700;
  line-height: 1.48;
  letter-spacing: toRem(1.4);
  text-transform: uppercase;
  text-align: center;
  &--light {
    background-color: $lightButton;
  }
  &--dark {
    background-color: $darkButton;
  }
}

.input {
  background-color: $white;
}
