@use "_fonts.scss" as *;
@use "_vars.scss" as *;
@use "_reset.scss";
@use "_mixins.scss" as *;

/*---------title-------------*/

.title {
  font-size: toRem(30);
  font-weight: 400;
  font-family: $secondaryFont;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: toRem(1.8);
  color: $darkColor;
  @media (max-width: toEm(600)) {
    font-size: toRem(26);
  }
  @media (max-width: toEm(475)) {
    font-size: toRem(24);
  }
  &--light {
    color: #fff;
  }
  &--small-margin {
    margin-bottom: toRem(10);
  }
}
/*---------subtitle-------------*/

.subtitle {
  line-height: 1.38;
  letter-spacing: toRem(0.48);
  &--light {
    color: $white;
  }
}
/*---------related link-------------*/

.related-link {
  font-family: $mainFont;
  font-size: toRem(14);
  font-weight: 700;
  line-height: 1.48;
  letter-spacing: toRem(1.4);
  text-transform: uppercase;
  color: $darkColor;
  text-decoration: underline solid #e1e1e1 toRem(3);
  text-underline-offset: toRem(7);
  transition: color 0.3s, text-decoration-color 0.2s;
  white-space: nowrap;

  &:active {
    color: $hoverLinkColor;
    text-decoration-color: $hoverLinkColor;
  }
  @media (any-hover: hover) and (any-pointer: fine) {
    &:hover {
      color: $hoverLinkColor;
      text-decoration-color: $hoverLinkColor;
    }
  }
}
.section-top {
  display: flex;
  flex-wrap: nowrap;
  gap: toRem(10);
  justify-content: space-between;
  align-items: center;
}

/*---------section subscribe-------------*/
.subscribe {
  &__content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: toRem(20) toRem(10);
    background-color: $darkColor;
    padding: toRem(80) toRem(110);

    @media (max-width: toEm(1100)) {
      padding: toRem(60) toRem(90);
    }
    @media (max-width: toEm(1025)) {
      padding: toRem(40) toRem(70);
    }
    @media (max-width: toEm(997)) {
      flex-direction: column;
    }
    @media (max-width: toEm(600)) {
      padding: toRem(30) toRem(50);
    }
    @media (max-width: toEm(520)) {
      padding: toRem(30) toRem(20);
    }
  }
  &__text {
    max-width: toRem(462);
    @media (max-width: toEm(997)) {
      align-self: flex-start;
    }
    @media (max-width: toEm(663)) {
      flex-grow: 1;
    }
  }
  &__form {
    display: flex;
    width: toRem(494);

    flex-shrink: 0;
    @media (max-width: toEm(997)) {
      align-self: flex-end;
    }
    @media (max-width: toEm(666)) {
      flex-wrap: wrap;
      width: 100%;
      flex-grow: 1;
    }
  }
  &__input {
    height: toRem(53);
    padding: toRem(10) 0 toRem(10) toRem(30);
    min-width: 25ch;
    border: 1px solid #eee;
    box-shadow: 0px 0px 44px 0px rgba(0, 0, 0, 0.08);
    @media (max-width: toEm(470)) {
      padding: toRem(10) 0 toRem(10) toRem(10);
    }
    &::placeholder {
      color: $lightColor;
      font-family: $mainFont;
      line-height: 1.38;
      letter-spacing: toRem(0.48);
      transition: opacity 0.1s;
    }
    &:focus::placeholder {
      opacity: 0;
    }
  }
  &__button {
    @media (max-width: toEm(666)) {
      flex-grow: 1;
    }
    @media (max-width: toEm(470)) {
      padding: toRem(16) toRem(16);
    }
  }
}

.button-text {
  display: flex;
  color: $white;
  font-size: toRem(14);
  font-weight: 700;
  line-height: 1.48;
  letter-spacing: toRem(1.4);
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  height: toRem(53);
  transition: background-color 0.3s;
  -webkit-tap-highlight-color: transparent; // прибирає блакитний ефект на iOS/Android
  -webkit-touch-callout: none; // забороняє виклик меню на довгий тап

  &--sizesmall {
    padding: toRem(16) toRem(16);
  }
  &--sizemedium {
    padding: toRem(16) toRem(40);
  }
  &--sizebig {
    padding: toRem(16) toRem(50);
  }
  &--light {
    background-color: $lightButton;
    &:active {
      background-color: $hoverLightButton;
    }
    @media (any-hover: hover) and (any-pointer: fine) {
      &:hover {
        background-color: $hoverLightButton;
      }
    }
  }
  &--dark {
    background-color: $darkButton;
    &:active {
      background-color: $hoverDarkButton;
    }
    @media (any-hover: hover) and (any-pointer: fine) {
      &:hover {
        background-color: $hoverDarkButton;
      }
    }
  }
}

.input {
  background-color: $white;
}
