@use "_fonts.scss" as *;
@use "_vars.scss" as *;
@use "_reset.scss";
@use "_mixins.scss" as *;
@use "_components.scss";
.footer {
  &__body {
    margin-bottom: toRem(80);
    @media (max-width: toEm(1024)) {
      margin-bottom: toRem(60);
    }
    @media (max-width: toEm(768)) {
      margin-bottom: toRem(40);
    }
    @media (max-width: toEm(600)) {
      margin-bottom: toRem(20);
    }
  }
}
.footer-body {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;

  @media (max-width: toEm(1024)) {
    flex-wrap: wrap;
    justify-content: space-around;
    gap: toRem(20);
  }
  @media (max-width: toEm(768)) {
    justify-content: space-between;
  }
  @media (max-width: toEm(600)) {
    justify-content: space-around;
  }
  @media (max-width: toEm(412)) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__block {
    line-height: 1.38;
    letter-spacing: toRem(0.48);
    > *:first-child {
      margin-bottom: toRem(10);
    }
    &--about {
      flex-basis: 26%;
      flex-shrink: 0;
      @media (max-width: toEm(1024)) {
        flex-basis: 100%;
        display: flex;
        gap: toRem(20);
        justify-content: space-around;
        align-items: center;
        padding: toRem(10);
      }
      @media (max-width: toEm(700)) {
        display: flex;
        flex-direction: column;
        gap: toRem(10);
        align-items: center;
        justify-content: center;
        padding: toRem(10) toRem(40);
      }
      @media (max-width: toEm(600)) {
        padding: toRem(10);
      }
    }
    &--contacts {
      flex-basis: 18.5%;
      flex-shrink: 0;
      a {
        font-weight: 400;
        text-decoration: underline;
      }
      a:not(:last-child) {
        margin-bottom: toRem(14);
      }
      @media (max-width: toEm(1024)) {
        flex-basis: 28.5%;
        flex-shrink: 0;
      }
      @media (max-width: toEm(700)) {
        flex-basis: 35%;
      }
      @media (max-width: toEm(600)) {
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }

  &__logo {
    padding: 0;
    @media (max-width: toEm(1024)) {
      .footer-body__block--about & {
        margin-bottom: 0;
      }
    }
  }
  &__about {
    margin-bottom: toRem(20);
    @media (max-width: toEm(1024)) {
      flex-basis: 50%;
      margin-bottom: 0;
    }
  }
}

.socials {
  &__list {
    display: flex;
    align-items: center;
  }

  &__item:not(:last-child) {
    margin-right: toRem(30);
    @media (max-width: toEm(768)) {
      margin-right: toRem(20);
    }
  }
}
.footer-menu {
  &__item {
    font-size: toRem(14);
    font-weight: 500;
    line-height: 1.48;
    letter-spacing: toRem(1.4);
    text-transform: uppercase;
    &:first-child > .footer-menu__link {
      padding-top: 0;
    }
    &:last-child > .footer-menu__link {
      padding-bottom: 0;
    }
  }

  &__link {
    padding: toRem(4) 0;
    @media (any-hover: hover) and (any-pointer: fine) {
      &:hover {
        color: $hoverLinkColor;
      }
    }
    &--active {
      color: $hoverLinkColor;
    }
  }
}

.footer-bottom {
  padding: toRem(20) 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: toRem(20);
  @media (max-width: toEm(1024)) {
    justify-content: center;
    gap: toRem(10);
  }

  &__block {
    display: flex;
    flex-shrink: 0;
    & > :not(:last-child) {
      margin-right: toRem(46);
    }
    & > * {
      display: flex;
      gap: toRem(10);
      flex-shrink: 0;
    }
    @media (max-width: toEm(1024)) {
      flex-shrink: 1;
      flex-wrap: wrap;
      justify-content: center;
      gap: toRem(10);
      & > :not(:last-child) {
        margin-right: 0;
      }
    }
  }
  p {
    line-height: 1.38;
    letter-spacing: toRem(0.48);
  }
  &__copy {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    gap: toRem(4);
    & > * {
      display: flex;
      flex-shrink: 0;
    }
    a {
      font-weight: 400;
      text-decoration: underline;
    }
    @media (max-width: toEm(1024)) {
      flex-shrink: 1;
      gap: toRem(10);
    }
  }
}
