@use "_fonts.scss" as *;
@use "_vars.scss" as *;
@use "_reset.scss";
@use "_mixins.scss" as *;
@use "_components.scss";

.header {
  &__container {
    display: flex;
    align-items: center;
    gap: 10px;
    @media (max-width: toEm(1100)) {
      justify-content: space-between;
    }
  }

  &__logo {
    margin-right: auto;
    color: $darkColor;
    font-family: $secondaryFont;
    font-size: toRem(33);
    font-weight: 400;
    line-height: 1.45;
    padding: toRem(12) 0;
    & > span {
      color: $lightBlueColor;
    }
    @media (max-width: toEm(1100)) {
      margin-right: 0;
    }
    @media (max-width: toEm(943)) {
      font-size: toRem(28);
    }
  }
  &__menu {
    @media (max-width: toEm(893)) {
      display: block;
      position: fixed;
      width: 100%;
      height: 100vh;
      background-color: #edf1f3;
      top: 0;
      right: -100%;
      transition: all 0.3s;
      margin-top: toRem(72);
      overflow: auto;
    }
    html.open-menu & {
      right: 0;
    }
    html.open-menu & .submenu {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
      position: relative;
      width: auto;
      padding: 0;
    }
  }
  &__actions {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin-left: toRem(120);
    flex-shrink: 0;
    @media (max-width: toEm(1100)) {
      margin-left: 0;
    }
  }
}
.menu {
  &__list {
    display: flex;
    flex-wrap: wrap;
    @media (max-width: toEm(893)) {
      .header__menu & {
        flex-direction: column;
        align-items: flex-end;
      }
    }
  }

  &__item {
    font-family: $mainFont;
    font-size: toRem(14);
    font-weight: 500;
    line-height: 1.48;
    letter-spacing: toRem(1.4);
    text-transform: uppercase;
    margin: 0 toRem(18);
    position: relative;
    transition: color 0.3s;
    &:last-child {
      margin-right: 0;
    }

    @media (max-width: toEm(943)) {
      margin: 0 toRem(10);
    }
    @media (max-width: toEm(893)) {
      margin: toRem(10);
      font-size: toRem(20);
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      &:last-child {
        margin-right: toRem(10);
      }
      &:has(> .submenu) {
        margin-bottom: 0;
      }
    }
  }

  &__link {
    padding: toRem(13);
    &--active {
      color: $hoverLinkColor;
    }
    & > .icon {
      vertical-align: middle;
    }
    @media (any-hover: hover) and (any-pointer: fine) {
      &:hover {
        cursor: pointer;
        color: $hoverLinkColor;
        & + .submenu {
          opacity: 1;
          visibility: visible;
          pointer-events: auto;
        }
        & > .icon {
          color: $hoverLinkColor;
        }
      }
    }
    @media (any-hover: none) and (any-pointer: coarse) {
      &.open-submenu + .submenu {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
      }
    }
    @media (max-width: toEm(893)) {
      background-color: $lightBlueColor;
      border-radius: toRem(8);
      .header__menu &--active {
        color: $darkColor;
      }
      .header__menu & > .icon--caret-down {
        display: none;
      }
    }
  }
}
.submenu {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  width: toRem(200);
  padding: 0 toRem(13) toRem(13);
  pointer-events: none;
  transition: opacity 0.3s;
  &__link {
    padding: toRem(4) 0;
    color: $darkColor;
    @media (any-hover: hover) and (any-pointer: fine) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.actions-header {
  &__link {
    &:not(:last-child) {
      margin-right: toRem(19);
    }
    & > .icon {
      width: toRem(18);
      height: toRem(18);
    }
    &--cart {
      display: inline-flex;
      align-items: flex-end;
      & + span {
        display: inline-block;
        padding-left: toRem(2);
        color: $darkColor;
        font-family: $mainFont;
        font-size: toRem(12);
        font-weight: 500;
        line-height: 1.48;
        letter-spacing: toRem(1.2);
      }
    }
  }
}
