$white: #fff;
$lightColor: #3a3a3a;
$darkColor: #272727;

$hoverLinkColor: #72aec8;
$hoverLightButton: #53a4c7;

$lightButton: #72aec8;
$darkButton: $darkColor;

$mainFont: "Lato", sans-serif;
$secondaryFont: "Jost", sans-serif;
