@use "_fonts.scss" as *;
@use "_vars.scss" as *;
@use "_reset.scss";
@use "_mixins.scss" as *;
@use "_components.scss" as *;
@use "_header.scss" as *;
@use "_footer.scss" as *;

body {
  font-family: $mainFont;
  font-weight: 300;
  color: $lightColor;
  font-size: toRem(16);
}

[class*="_container"] {
  max-width: toRem(1330);
  padding: 0 toRem(15);
  margin: 0 auto;
}
[class*="_big-container"] {
  max-width: toRem(1950);
  padding: 0 toRem(15);
  margin: 0 auto;
}

[class*="--active"] {
  color: $hoverLinkColor;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.page {
  flex-grow: 1;
  > section:not(:last-child) {
    margin-bottom: toRem(120);
    @media (max-width: toEm(1024)) {
      margin-bottom: toRem(80);
    }
    @media (max-width: toEm(768)) {
      margin-bottom: toRem(40);
    }
  }
  > section:last-child {
    margin-bottom: toRem(100);
    @media (max-width: toEm(1024)) {
      margin-bottom: toRem(60);
    }
    @media (max-width: toEm(768)) {
      margin-bottom: toRem(40);
    }
    @media (max-width: toEm(412)) {
      margin-bottom: toRem(20);
    }
  }
}

.benefits {
  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(toRem(283), 1fr));
    row-gap: toRem(20);
    column-gap: toRem(55);
    justify-items: center;
  }
  &__group {
    display: flex;
    flex-wrap: nowrap;
    gap: toRem(14);
    > .icon {
      flex-shrink: 0;
      width: toRem(28);
      height: toRem(28);
      color: $lightBlueColor;
      fill: transparent;
    }
  }

  &__content {
    h3 {
      margin-bottom: toRem(4);
    }
    p {
      line-height: 1.38;
      letter-spacing: toRem(0.48);
    }
  }
}

.promo {
  &__container {
    > .block {
      gap: toRem(65);
    }
    .block__img-wrp {
      height: toRem(612);
      width: toRem(529);
    }
    .block__content {
      max-width: 52%;
    }
  }
}
