@use "_fonts.scss" as *;
@use "_vars.scss" as *;
@use "_reset.scss";
@use "_mixins.scss" as *;
@use "_components.scss" as *;
@use "_header.scss" as *;

body {
  font-family: $mainFont;
  font-weight: 300;
  color: $lightColor;
  font-size: toRem(16);
}

[class*="_container"] {
  max-width: toRem(1330);
  padding: 0 toRem(15);
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
