@use "_fonts.scss" as *;
@use "_vars.scss" as *;
@use "_reset.scss";
@use "_mixins.scss" as *;
@use "_components.scss" as *;
@use "_header.scss" as *;
@use "_footer.scss" as *;

body {
  font-family: $mainFont;
  font-weight: 300;
  color: $lightColor;
  font-size: toRem(16);
}

[class*="_container"] {
  max-width: toRem(1330);
  padding: 0 toRem(15);
  margin: 0 auto;
}
[class*="_big-container"] {
  max-width: toRem(1950);
  padding: 0 toRem(15);
  margin: 0 auto;
}

[class*="--active"] {
  color: $hoverLinkColor;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.page {
  flex-grow: 1;
  > section:not(:last-child) {
    margin-bottom: toRem(120);
    @media (max-width: toEm(1024)) {
      margin-bottom: toRem(80);
    }
    @media (max-width: toEm(768)) {
      margin-bottom: toRem(40);
    }
  }
  > section:last-child {
    margin-bottom: toRem(100);
    @media (max-width: toEm(1024)) {
      margin-bottom: toRem(60);
    }
    @media (max-width: toEm(768)) {
      margin-bottom: toRem(40);
    }
    @media (max-width: toEm(412)) {
      margin-bottom: toRem(20);
    }
  }
}

.benefits {
  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(toRem(283), 1fr));
    row-gap: toRem(20);
    column-gap: toRem(55);
    justify-items: center;
  }
  &__group {
    display: flex;
    flex-wrap: nowrap;
    gap: toRem(14);
    > .icon {
      flex-shrink: 0;
      width: toRem(28);
      height: toRem(28);
      color: $lightBlueColor;
      fill: transparent;
    }
  }

  &__content {
    h3 {
      margin-bottom: toRem(4);
    }
    p {
      line-height: 1.38;
      letter-spacing: toRem(0.48);
    }
  }
}

.promo {
  background-color: #edf1f3;
  &__big-container {
    .slider__container {
      position: relative;
      max-width: 1470px;
      margin: 0 auto;
      padding: 0 15px;
    }
    .slider__item {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: toRem(65);
      padding: 0 toRem(20);
      @media (max-width: toEm(1024)) {
        gap: toRem(20);
      }
      @media (max-width: toEm(600)) {
        padding: 0;
        flex-direction: column-reverse;
      }
    }
    .slider__img-wrp {
      overflow: hidden;
      width: 37%;
      flex-shrink: 0;
      aspect-ratio: 529/612;
      @media (max-width: toEm(600)) {
        max-width: 80%;
      }
    }
    .slider__content {
      max-width: 46%;

      @media (max-width: toEm(600)) {
        padding: 0;
        max-width: 80%;
        text-align: center;
        & .button-text {
          display: inline-block;
          margin: 0 auto;
        }
      }
    }
    .slider__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    h4 {
      margin-bottom: clamp(toRem(10), 3vw, toRem(40));
    }
    .arrow--prev,
    .arrow--next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    .arrow--prev {
      left: toRem(-168);
      @media (max-width: toEm(1800)) {
        left: toRem(-70);
      }
      @media (max-width: toEm(1700)) {
        left: toRem(-8);
      }
    }
    .arrow--next {
      right: toRem(-168);
      @media (max-width: toEm(1800)) {
        right: toRem(-8);
      }
      @media (max-width: toEm(1700)) {
      }
    }
  }
}
